::ng-deep .nav-fill .nav-link.active {
    margin-top: -1px;
    border-top: 2px solid #06ac90;
}

::ng-deep .nav-pills .nav-link.active, 
::ng-deep .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #06ac90;
}

.main-window {
    min-height: 820px;
    max-height: 1000px;
    padding-top: 10px;
}